extends ../layouts/main-layout.pug

block title
  title Blog

block header 
  .header__title
    img(src="images/icons/blog_header.svg", alt="").section-title
    .user.header__user-block.blog-user
      .user__photo
        .user__photo-avatar
            img(src="images/content/avatar2.png", alt="").user__photo-img
      .subtitle.blog-user__name Блог
      .user_desc.blog-user__desc Статьи которые я написал
      
  svg.triangle.triangle_fill_left.header__triangles(viewbox='0 0 1000 100', preserveaspectratio='none')
    polygon(points='0,0 0,100 1000,100')
  svg.triangle.triangle_fill_right.header__triangles(viewbox='0 0 1000 100', preserveaspectratio='none')
    polygon(points='0,100 1000,100 1000,0')

block content
  section.section.blog
    aside.sidebar
      div.sidebar__toggle
      ul.sidebar__list
        li.sidebar__item
          a.sidebar__link(href="#") Самое важное в SASS
        li.sidebar__item
          a.sidebar__link(href="#") Самый необходимый набор Gulp плагинов
        li.sidebar__item
          a.sidebar__link(href="#") Самое важное в SASS
        li.sidebar__item
          a.sidebar__link(href="#") Самое важное в SASS
        
    .posts
      ul.posts__list
        li.posts__item
          .post
            .post__title Самое важное в SASS
            .post__date 22 ноября 2016
            .post__text
              p  Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. 
              p  Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        li.posts__item
          .post
            .post__title Самый необходимый набор Gulp плагинов
            .post__date 22 ноября 2016
            .post__text
              p  Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. 
              p  Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
