extends ../layouts/main-layout.pug

block title
  title Works

block header 
  .header__title
    img(src="images/icons/blog_header.svg", alt="").section-title
    .user.header__user-block.blog-user
      .user__photo
        .user__photo-avatar
            img(src="images/content/avatar2.png", alt="").user__photo-img
      .subtitle.blog-user__name Мои работы
      .user_desc.blog-user__desc Работы которые я делал
      
  svg.triangle.triangle_fill_left.header__triangles.works__triangle-fill(viewbox='0 0 1000 100', preserveaspectratio='none')
    polygon(points='0,0 0,100 1000,100')
  svg.triangle.triangle_fill_right.header__triangles.works__triangle-fill(viewbox='0 0 1000 100', preserveaspectratio='none')
    polygon(points='0,100 1000,100 1000,0')

block content
  section.section.works
    .works__title-wrapper
      +title('Мои работы', 'works-header.png', 'works__title')
    .slider
      .slider__display
        .slider__window
          img(src='./images/works/1.png').slider__img
      
      .slider__desk
        .slider__desk-wrapper
          .title.slider__desk-title Сайт школы онлайн образования
          .slider__desk-technologies HTML, CSS, JAVASCRIPT
          .slider__show-btn Посмотреть сайт
      

      .slider__controls
        a.slider__controls-item.slider__controls-item_prev(href='#')
          img(src='images/works/4.png', class='slider__controls-img' alt='')
        a.slider__controls-item.slider__controls-item_next(href='#')
          img(src='images/works/2.png', class='slider__controls-img' alt='')
      
     
