@media screen and (max-width: 1200px) {

  .footer__wrapper {

  }

  .footer_row {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px / 1200px * 100%;
    padding-right: 30px / 1200px * 100%;
  }

  .footer__menu-item {
    margin-left: 40px / 600px * 100%;
  }

  .footer__socials-item {
    margin-left: 10px / 600px * 100%;
  }
}
